@{
    ViewData["Title"] = "Privacy Policy";
}
<h4 class="mt-3">@Constants.App.Name @ViewData["Title"]</h4>
<div class="card text-bg-secondary my-3">
    <div class="card-header"><b>The short version</b></div>
    <div class="card-body">
        <p>
            We take privacy very seriously. In fact, we go out of our way <strong>not</strong> to collect
            information we don't need.
        </p>
        <p>
            In some cases we do need to temporarily store information (e.g. to resume an authentication flow
            after a browser redirect) but we delete it again after the flow is complete. Even if the flow
            doesn't complete, we still delete the temporary information automatically after 7 days.
            And of course if you sign in and explicitly save configuration details to your account (e.g.
            client id's and client secrets) these are stored securely and encrypted at rest.
        </p>
        <p>
            Like almost every site, we use cookies to keep you logged in so you don't have to re-authenticate
            every time you visit the site.
        </p>
        <p>
            Finally, we really try hard just to be nice and responsible about privacy. If you feel we're doing
            something wrong, please contact us and we'll fix it.
        </p>
    </div>
</div>
<p>
    @Constants.App.Name ("us", "we", or "our") operates @Context.Request.Host
    (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of
    Personal Information we receive from users of the Site.
</p>
<p>
    We use your Personal Information only for providing and improving the Site. By using the Site,
    you agree to the collection and use of information in accordance with this policy. Unless otherwise
    defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our
    Terms and Conditions.
</p>
<h5>Information Collection And Use</h5>
<p>
    While using our Site, we may ask you to provide us with certain personally identifiable information
    that can be used to personalize your experience, contact or identify you. Personally identifiable
    information may include, but is not limited to, your name and email address ("Personal Information").
    You may, however, also visit our site anonymously.
</p>
<h5>Log Data</h5>
<p>
    Like many site operators, we collect information that your browser sends whenever you visit our Site
    ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP")
    address, browser type, browser version, the pages of our Site that you visit, the time and date of
    your visit, the time spent on those pages and other statistics.
</p>
<h5>Cookies</h5>
<p>
    Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies
    are sent to your browser from a web site and stored on your computer's hard drive.
</p>
<p>
    Like many sites, we use "cookies" to understand and save your preferences for future visits and compile
    aggregate data about site traffic and site interaction so that we can offer better site experiences and
    tools in the future. We may contract with third-party service providers to assist us in better understanding
    our site visitors. These service providers are not permitted to use the information collected on our behalf
    except to help us conduct and improve our business.
</p>
<p>
    You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However,
    if you do not accept cookies, you may not be able to use some portions of our Site.
</p>
<h5>Security</h5>
<p>
    We implement a variety of security measures to maintain the safety of your personal information when you
    enter, submit, or access your personal information. The security of your Personal Information is very
    important to us, but remember that no method of transmission over the Internet, or method of electronic
    storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal
    Information, we cannot guarantee its absolute security.
</p>
<h5>Outside Parties</h5>
<p>
    We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
    This does not include trusted third parties who assist us in operating our website, conducting our business,
    or servicing you, so long as those parties agree to keep this information confidential. We may also release
    your information when we believe release is appropriate to comply with the law, enforce our site policies,
    or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information
    may be provided to other parties for marketing, advertising, or other uses.
</p>
<h5>California Online Privacy Protection Act Compliance</h5>
<p>
    Because we value your privacy we have taken the necessary precautions to be in compliance with the California
    Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties
    without your consent.
</p>
<p>
    As part of the California Online Privacy Protection Act, all users of our site may make any changes to their
    information at anytime by editing their profile page.
</p>
<h5>Links To Other Sites</h5>
<p>
    Our Site may contain links to other sites that are not operated by us. If you click on a third party link,
    you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of
    every site you visit.
</p>
<p>
    We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any
    third party sites or services.
</p>
<h5>Changes To This Privacy Policy</h5>
<p>
    This Privacy Policy was last modified on August 24th, 2022.
</p>
<p>
    We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new
    Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.
</p>
