@{
    Layout = "_LayoutCore";
}
@section Menu {
<div class="navbar-nav flex-grow-1">
    <a class="nav-link" asp-controller="Home" asp-action="Index">New Request</a>
    <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="token">Decode Token</a>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="configuration">Configuration</a>
    }
    <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
</div>
}
@RenderBody()