@{
    Layout = "_LayoutCore";
}
@section Menu {
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">New Request</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" asp-fragment="token">Decode Token</a>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" asp-fragment="configuration">Configuration</a>
    </li>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="About">About</a>
    </li>
</ul>
}
@RenderBody()