@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
        @if (!string.IsNullOrEmpty(Configuration["AzureAdB2C:EditProfilePolicyId"]))
        {
            <a class="nav-link" asp-area="AzureADB2C" asp-controller="Account" asp-action="EditProfile">
                Hello @User.Identity.Name!
            </a>
        }
        else
        {
            <span class="navbar-text">Hello @User.Identity.Name!</span>
        }
        <a class="nav-link" asp-area="AzureADB2C" asp-controller="Account" asp-action="SignOut">Sign out</a>
}
else
{
    <a class="nav-link" asp-area="AzureADB2C" asp-controller="Account" asp-action="SignIn">Sign in</a>
}
</div>